div.blog-box
    div.blog-box-title
        div.blog-box-titlein 友情连接
    ul.friendly-links-ul
        each v, index in config.friendlyLinks
            li(class="friendly-links#{index % 2}")
                span.glyphicon.glyphicon-star
                a(href="#{v.url}" target="_blank")= v.name