div.blog-box
    div.blog-box-title
        div.blog-box-titlein 博主信息
    table(width="100%").blog-owner-table
        tr
            td(width="50%")
                strong 姓名:  
                =config.ownerName
            td(width="50%")
                strong 地点:  
                =config.ownerLocation
        tr
            td(width="50%")
                strong 职业:  
                =config.ownerOccupation 
            td(width="50%")
                strong 文章数:  
                =articleNum
        tr
            td(colspan="2")
                strong 邮箱：
                =config.email
        tr
            td(colspan="2")
                strong 专长:  
                =config.ownerSkill
        tr
            td(colspan="2")
                strong 座右铭:
                p= config.motto