div.blog-box
    div.blog-box-title
        div.blog-box-titlein 标签
    each v, index in tags
        - var ran = Math.floor(Math.random() * 3)
        div(class="blog-tag-color#{(v + ran) % 4}")
            a(href="/tag/#{index}")= index + '(' + v + ')'
div.blog-box
    div.blog-box-title
        div.blog-box-titlein 文集
    each v, index in collects
        - var ran = Math.floor(Math.random() * 3)
        div(class="blog-tag-color#{(v + ran)% 4}")
            a(href="/collect/cid/#{index}")= index + '(' + v + ')'
